<div class="row col-10">
<tr>
  <h1> Geneva Records</h1>
  <hr />
</tr>
</div>
<div class="row col-10">
<% @genevarecords.each do |record| %>
  <h4><%= link_to record.created_at.strftime("%B %d, %Y"), geneva_record_path(record) %></h4>
</div>
                
<% end %>
<%= paginate @genevarecords %>